<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <springProperty scope="context" name="splunkUrl" source="SPLUNK_HEC_URL" defaultValue="http://localhost:8088"/>
    <springProperty scope="context" name="splunkToken" source="SPLUNK_HEC_TOKEN" defaultValue=""/>

    <appender name="SPLUNK" class="com.splunk.logging.HttpEventCollectorLogbackAppender">
        <url>${splunkUrl}</url>
        <token>${splunkToken}</token>
        <layout class="net.logstash.logback.layout.LogstashLayout" />
    </appender>

    <appender name="ASYNC_SPLUNK" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="SPLUNK" />
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="ASYNC_SPLUNK" />
    </root>
</configuration>
